<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Videos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Videos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          @for (item of videos; track $index) {
            <ion-item>
              <ion-icon (click)="playVideo(item.url)" aria-hidden="true" name="play-outline" slot="end" color="primary"></ion-icon>
              <ion-label>{{ item.name }}</ion-label>
            </ion-item>
          }
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
